

@{
    ViewData["Title"] = "On Sale";
}
<div id="content">



<div id="Items">
		<div id="SortMenu">
	<p></p>
	<select onchange="document.location=this.options[this.selectedIndex].value">
				<option selected="" disabled="">@ViewBag.SelectedNameTab</option>
				<option value="Onsale?@ViewBag.IdPos">Всі марки</option>

		@foreach (var sortName in ViewBag.SortName)
		{
					<option value="Onsale?@ViewBag.IdPos&Name=@sortName.Key">@sortName.Key</option>
		}
	</select>

	<select onchange="document.location=this.options[this.selectedIndex].value">
				<option selected="" disabled="">@ViewBag.SelectedTypeTab</option>
				<option value="Onsale?@ViewBag.IdPos">Всі типи</option>
		@foreach (var sortType in ViewBag.SortType)
		{
					<option value="Onsale?@ViewBag.IdPos&@ViewBag.Name&Type=@sortType.Key">@sortType.Key</option>
		}
	</select>


</div>

		
		<div id="Galerea_techic_Conteiner">
				<div class="row mt-5 mb-2">
					@{
					if (ViewBag.Id > 3)
					{
						List<TechnicModel> machineryModel = ViewBag.Machinery;
						List<HadImgPathT> hadImgPaths = ViewBag.imgSource;
						for (int i = 0; i < machineryModel.Count(); i++)
						{
							<div class="col-lg-4">
								<img class="img-thumbnail" src="@hadImgPaths[i].hadImgPathT" />
								<h3> @machineryModel[i].Name @machineryModel[i].Model</h3>
								<p>Рік: @machineryModel[i].Year</p>
								<p> Ціна: @machineryModel[i].Price</p>
								<p><a class="btn-warning btn-block" href="ViewTR?@ViewBag.IdPos&ID=@machineryModel[i].id">Детальніше </a></p>
							</div>
						}
					}else{
					List<MachineryModel> machineryModel = ViewBag.Machinery;
					List<HadImgPath> hadImgPaths = ViewBag.imgSource;
						for (int i = 0; i < machineryModel.Count(); i++)
						{
							<div class="col-lg-4">
								<img class="img-thumbnail" src="@hadImgPaths[i].hadimgpath" />
								<h3> @machineryModel[i].Name @machineryModel[i].Model</h3>
								<p>Рік: @machineryModel[i].Year</p>
								<p> Ціна: @machineryModel[i].Price</p>
								<p><a class="btn-warning btn-block" href="ViewTR?@ViewBag.IdPos&ID=@machineryModel[i].id">Детальніше </a></p>
							</div>
						}
					}
					
				}
				</div>
		</div>
	</div>

 